@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");

@font-face {
  font-family: "ROMELIO";
  src: url("../font/Romelio.otf");
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--yellow-color);
}

:root {
  --yellow-color: #ecca8c;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "ROMELIO", sans-serif;
  letter-spacing: 2px;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  margin-inline: auto;
  padding-inline: 15px;
}

/* Start Container */
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
/* End Container */

body {
  background-color: rgb(0, 0, 0);
}

hr {
  height: 1px;
  border: none;
  background-color: var(--yellow-color);
  opacity: 0.5;
}

h1.pageTitle {
  text-align: center;
  color: var(--yellow-color);
  font-size: 57px;
  margin-bottom: 100px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  h1.pageTitle {
    font-size: 26px;
    margin-top: 200px;
  }
}

.img {
  margin-bottom: 50px;
}

.img img {
  width: 100%;
  height: 100%;
}

.img-3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 30px;
}

.img-2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 30px;
}

.img-2-1 {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

/* .img-reverse {
  flex-direction: row-reverse;
} */

.gray {
  filter: grayscale(1);
}

@media (max-width: 767px) {
  .img-3,
  .img-2 {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 992px) {
  .img-2-1 img:first-of-type {
    max-width: 30%;
  }

  .img-2-1 img:last-of-type {
    max-width: calc(70% - 30px);
  }

  .img-2-1.img-reverse img:last-of-type {
    max-width: 30%;
  }

  .img-2-1.img-reverse img:first-of-type {
    max-width: calc(70% - 30px);
  }
}

/* Start splash screen */
.splash {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: black;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: 1s 2s;
}

.splash img {
  max-width: 250px;
}

/* End splash screen */

/* Start header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  z-index: 99;
  padding-top: 15px;
  padding-bottom: 15px;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

header .container i {
  color: white;
  font-size: 30px;
  margin-right: 15px;
}

header .container img {
  width: 80px;
}

header .container nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
}

header .container nav ul.full-ul li a {
  color: var(--yellow-color);
  cursor: pointer;
  text-transform: capitalize;
  font-size: 21px;
  white-space: nowrap;
  font-weight: 400;
}

header .container nav a#drop {
  position: relative;
}

header .container .dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.298);
  padding: 10px;
  top: 117px;
  font-size: 25px;
  text-align: center;
  /* left: 0; */
}

header .container .dropdown.active {
  display: flex;
}

header .container nav ul .dropdown li:not(:last-of-type) {
  margin-bottom: 61px;
}

header .container nav .dropdown li a {
  color: white !important;
}

header .container nav .dropdown li a:last-child {
  font-size: 18px;
}

header .container .right-mob {
  display: none;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
  margin-bottom: 10px;
}

header .container img.full {
  margin-left: -460px;
}

@media (max-width: 1399px) {
  header .container img.full {
    margin-left: -260px;
  }
}

@media (max-width: 1999px) {
  header .container img.full {
    margin-left: -160px;
  }
}

@media (max-width: 767px) {
  header .container img {
    margin-bottom: 20px;
  }

  header .container nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 660px) {
  header .container {
    justify-content: center;
  }

  header .container .dropdown {
    top: 200px;
  }
}

@media (max-width: 300px) {
  header .container .dropdown {
    top: 350px;
    right: 0;
  }
}

@media (max-width: 991px) {
  header .container .right-mob {
    display: flex;
  }
  header .social.full {
    display: none;
  }

  header .container img.full {
    display: none;
  }
}

/* End header */

/* Start Landing */
.landing {
  margin-top: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.landing .container {
  text-align: center;
}

.landing .container .gallery {
  transition: 0.3s;
  position: relative;
  width: 979px;
  height: 653px;
  margin-inline: auto;
}

.landing .container .gallery::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  background-color: #b19769;
  bottom: -93px;
  left: 50%;
  transform: translateX(-50%);
}

.landing .container .gallery img {
  width: 100%;
}

@media (max-width: 1030px) {
  .landing .container .gallery {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 767px) {
  .landing {
    margin-top: 90px;
  }
}

@media (max-width: 236px) {
  .landing {
    margin-top: 230px;
  }
}
/* End Landing */

/* Start info */
.info {
  padding-top: 100px;
  padding-bottom: 100px;
}

.info .container {
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.info .container .info-img {
  width: 839.05px;
}

.info .container .info-img img {
  width: 100%;
  transition: 0.3s;
}

.info .container .info-content {
  line-height: 35px;
  font-size: 22px;
  color: #ac9366;
  padding: 20px;
  text-align: center;
}

@media (max-width: 767px) {
  .info .container .info-content {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .info .container .info-img {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .info .container .info-img {
    width: calc(50% - 20px);
  }

  .info .container .info-content {
    width: 50%;
  }
}
/* End info */

/* Start Services */

.services {
  padding-top: 100px;
  padding-bottom: 100px;
}

.services .container {
  position: relative;
}

.services .container::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  background-color: #b19769;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
}

.services .container .content {
  color: white;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.services .container > .product {
  width: 100%;
}

.services .container .ser {
  position: relative;
  transition: 1s;
  overflow: hidden;
}

.services .container .ser::before {
  transition: transform 0.5s;
  content: attr(data-name);
  position: absolute;
  font-size: 30px;
  color: #b0996b;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  white-space: nowrap;
}

.services .container .ser img {
  width: 100%;
  transition: 0.5s;
}

.services .container .ser :hover img {
  transform: scale(1.1);
}

@media (max-width: 767px) {
  .services .container .ser::before {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .services .container .content {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }

  .services .container > .product {
    width: 70%;
    margin-inline: auto;
  }
}
/* End Services */

/* Start contact */
.contact {
  padding-top: 80px;
  text-align: center;
  color: var(--yellow-color);
  font-size: 15px;
  letter-spacing: 3px;
}

.contact h2 {
  font-size: 53px;
  margin-bottom: 20px;
  color: #ac9366;
}

.contact p {
  line-height: 30px;
  margin-bottom: 50px;
}

.contact .social {
  margin-bottom: 50px;
}

.contact .social a {
  font-size: 30px;
  margin-right: 15px;
  color: var(--yellow-color);
}

.contact .container {
  display: flex;
  justify-content: center;
}

.contact form {
  display: flex;
  flex-direction: column;
  background-color: #453e33;
  padding: 15px;
  border-radius: 30px;
  font-size: 15px;
  align-items: center;
  position: relative;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #837358;
  font-weight: bold;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #837358;
  font-weight: bold;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #837358;
  /* color: #75674c; */
  font-weight: bold;
}

.contact form input {
  width: 400px;
  margin-bottom: 20px;
  height: 50px;
  background-color: #554f45;
  padding-left: 20px;
  border-radius: 30px;
  color: black;
  font-weight: bold;
  outline: none;
  border: none;
  font-size: 19px;
}

.contact form textarea {
  resize: vertical;
  width: 100%;
  margin-bottom: 20px;
  background-color: #554f45;
  padding-top: 20px;
  padding-left: 20px;
  border-radius: 30px;
  color: black;
  font-weight: bold;
  outline: none;
  border: none;
  min-height: 200px;
}

.contact form input[type="submit"] {
  cursor: pointer;
  padding: 0;
  width: 130px;
  color: #b89e6d;
  position: absolute;
  background-color: transparent;
  border: 1px solid #ac9366;
  bottom: -100px;
}

@media (max-width: 991px) {
  .contact h2 {
    font-size: 28px;
  }
}

@media (max-width: 370px) {
  .contact p {
    font-size: 8px;
  }
}

@media (max-width: 500px) {
  .contact form input {
    width: 100%;
  }
}
/* End contact */

/* Start Weeding page */
.landing-wedding {
  padding-top: 150px;
  padding-bottom: 150px;
}

.landing-wedding .container > img {
  width: 100%;
  margin-bottom: 50px;
}

.landing-wedding .container p {
  color: var(--yellow-color);
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 150px;
}

@media (max-width: 767px) {
  .landing-wedding .container p {
    font-size: 17px;
  }
}

/* End Weeding page */

/* Start fashion  page */
.fashion {
  padding-top: 150px;
  padding-bottom: 150px;
}

/* End fashion  page */

/* Contact page  */
.contactPage {
  padding-top: 180px;
  padding-bottom: 100px;
  text-align: center;
  color: var(--yellow-color);
}
.contactPage h1 {
  margin-top: 160px;
}
.contactPage p {
  font-size: 36px;
  margin-top: 101px;
  margin-bottom: 201px;
  line-height: 55px;
}

@media (max-width: 767px) {
  .contactPage p {
    font-size: 23px;
  }
}

.contactPage .container {
  display: flex;
  justify-content: center;
}

.contactPage form {
  display: flex;
  flex-direction: column;
  background-color: #191612;
  padding: 40px;
  border-radius: 15px;
  font-size: 15px;
  align-items: center;
}

.contactPage form input {
  width: 400px;
  margin-bottom: 20px;
  height: 50px;
  background-color: #5e5c5a;
  padding-left: 20px;
  border-radius: 15px;
  color: black;
  font-weight: bold;
  outline: none;
  border: none;
}

.contactPage form textarea {
  resize: vertical;
  width: 100%;
  margin-bottom: 20px;
  background-color: #5e5c5a;
  padding-top: 20px;
  padding-left: 20px;
  border-radius: 30px;
  color: black;
  font-weight: bold;
  outline: none;
  border: none;
  min-height: 200px;
}

.contactPage form input[type="submit"] {
  cursor: pointer;
  padding: 0;
  width: 130px;
  color: #b89e6d;
  background-color: transparent;
  border-radius: 40px;
  margin-top: 20px;
  border: 1px solid #ac9366;
}

@media (max-width: 500px) {
  .contactPage form input {
    width: 200px;
  }
}

/* Contact page  */

/* About me page */
.about-me {
  padding-top: 200px;
  padding-bottom: 100px;
  color: var(--yellow-color);
}

.about-me p {
  margin-bottom: 70px;
  font-size: 28px;
  line-height: 35px;
  margin-top: 30px;
}
/* About me page */
